@media (max-width: 1024px) {
  .home-content {
    gap: 15rem;
  }
  .about .layout-content {
    padding: 0 5rem;
  }
  .resume-container .content {
  display: flex;
  flex-direction: column;
 }
 .experience {
   border-bottom: dotted 1px #444;
 }
}

@media (max-width: 768px) {

  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .layout {
    margin: auto;
  }

  .header {
    position: fixed;
    width: 100%;
    height: auto;
    padding: 10px;
    box-shadow: none;
    top: 0; 
    left: 0;
  }

  .header h1 {
    flex-direction: row;
    justify-content: center;
    border: none;
    font-size: 1.5rem;
    gap: 0.8rem;
    margin-top: 0.5rem;
  }

  .header-content {
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  .header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    width: 100%;
    padding: 0;
  }

  .header li {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 0;
    text-align: center;
    
  }

  .header li a {
    justify-content: center;
    font-size: 0;
    color: var(--primary-font-color);
  }

  .header li a .icon {
    font-size: 1.5rem; 
  }

  .contacte ul a {
    gap: 1rem;
    font-size: inherit;
  }


  .header li span {
    margin-right: 10px;
  }

  .contacte {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .contacte ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .contacte li {
    margin: 0;
  }

  .contacte a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
  }

  .header li a:hover,
  li a.active {
    background-color: transparent;
    color: var(--primary-font-color); 
  }

  .home-content {
    gap: 2.5rem;
  }
}